<form method="post" action="{{ path('app_service_delete', {'id': service.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet article?');">
    <br><br><input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="btn btn-dark w-30 mx-auto mt-5">supprimer</button>
</form>