
html{
    height:100%;
  }
  .gradient-background {
    background: linear-gradient(224deg,#bfcfc5,#a31cec,#7185d8,#2c2ef1,#d292f6);
    background-size: 300% 300%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
body {
    height:100%;
    position: relative;
}

   
  #wrap{
    min-height:100%;
    position: relative;
  }

  #header{
    position: relative;
  }
  #main{
    position: relative;
    padding-top: 30px;
  }
  #footer{
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

@import "~bootstrap/scss/bootstrap";
@import "navbar";
@import "footer";
