#header{
    position: relative;
  }
.navbar-brand {
    padding: 6px 16px;
    font-size: 16px;
}

.navbar-nav {
    width: 100%;
    padding-right: 30px;
}

.nav-item {
    padding: 0px 8px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 5px;
    border-left: 3px solid blue;
}

.active {
    background-color: blue;
    color: white !important;   
}

.nav-item:hover {
    background-color: #DCFEFE;
}

.nav-item:hover {
    background-color:  #DCFEFE;
}

.nav-link {
    padding: 5px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}
.btn-secondary {
    background-color:  #DCFEFE;
    border-radius: 5px;
    border-color: #DCFEFE;
    color: black;
}
.btn-check:hover+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    background-color: #DCFEFE;
    border-color: #DCFEFE;
    color: black
}

.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    background-color: #DCFEFE;
    border-color: #DCFEFE;
    color: black
}